src/main/resources/message.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header">
                    <xs:complexType>
                        <xs:attribute name="time" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:choice>
                    <xs:element name="request">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="user" type="xs:string"/>
                                <xs:element name="text" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="response">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="status">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="code" type="xs:int"/>
                                            <xs:element name="reason" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>